[submodule "vim-rails"]
	path = vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim-cucumber"]
	path = vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim-haml"]
	path = vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim-git"]
	path = vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim-scratch/plugin"]
	path = vim-scratch/plugin
	url = git://github.com/jkramer/vim-scratch.git
[submodule "ack.vim"]
	path = ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
